<h1>Trabalho Prático de Compiladores</h1>
<h2>Jerônimo Nunes Rocha - 2013069108</h2>

<h1>Front-End:</h1>
<codemirror [formControl]="grammar" [config]="grammar_config">
</codemirror>
<div class="error" *ngIf="grammar.hasError('parser')">
    {{grammar.getError('parser')}}
</div>

<h1>Programa fonte:</h1>
<codemirror [formControl]="code" [config]="code_config">
</codemirror>
<div class="error" *ngIf="code.hasError('parser')">
    {{code.getError('parser')}}
</div>

<h1>Representação Intermediária:</h1>
<codemirror [formControl]="middle" [config]="middle_config">
</codemirror>

<h1>Árvore de Sintaxe abstrata</h1>
<div #astDiv id="astDiv"></div>