<h1>Trabalho Prático de Compiladores</h1>
<h2>Jerônimo Nunes Rocha - 2013069108</h2>

<mat-tab-group>
    <mat-tab label="Front-End">
        <codemirror [formControl]="grammar" [config]="grammar_config">
        </codemirror>
        <div class="error" *ngIf="grammar.hasError('parser')">
            {{grammar.getError('parser')}}
        </div>
    </mat-tab>
    <mat-tab label="Código de Entrada">
        <codemirror [formControl]="code" [config]="code_config">
        </codemirror>
        <div class="error" *ngIf="code.hasError('parser')">
            {{code.getError('parser')}}
        </div>
    </mat-tab>
    <mat-tab label="Representação Intermediária">
        <codemirror [formControl]="middle" [config]="middle_config">
        </codemirror>
    </mat-tab>
    <mat-tab label="Árvore de Sintaxe Abstrata">
        <div #astDiv id="astDiv"></div>
    </mat-tab>
</mat-tab-group>