:host {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}

.error {
    padding: 1em;
    background-color: yellow;
}

h1 {
    margin-top: 1em;
}

#astDiv {
    flex: 1;
    height: calc(100vh - 49px - 32px - 16px - 32px - 16px - 1em - 1em);
    flex-shrink: 0;
    flex-grow: 1;
}