@import '~@angular/material/theming';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/ambiance.css';
@import '~vis/dist/vis.css';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}